﻿/* Quick Margins */
.stick-top { margin-top: 0px !important; }
.stick-bottom { margin-bottom: 0px !important; }
.stick-bottom-top { 
	margin-top: 0px;
	margin-bottom: 0px !important;
}
.space-top { margin-top: 15px !important; }
.space-bottom { margin-bottom: 15px !important; }
.space-bottom-top {
	margin-top: 15px;
	margin-bottom: 15px !important;
}
.space-left { margin-left: 15px !important; }
.space-right { margin-right: 15px !important; }
.space-left-right {
	margin-left: 15px;
	margin-right: 15px !important;
}
.space-all { margin: 15px !important; }
.space-top-md { margin-top: 30px !important; }
.space-bottom-md { margin-bottom: 30px !important; }
.space-bottom-top-md {
	margin-top: 30px;
	margin-bottom: 30px !important;
}
.space-left-md { margin-left: 30px !important; }
.space-right-md { margin-right: 30px !important; }
.space-left-right-md {
	margin-left: 30px;
	margin-right: 30px !important;
}
.space-all-md { margin: 30px !important; }
.space-top-lg { margin-top: 45px !important; }
.space-bottom-lg { margin-bottom: 45px !important; }
.space-bottom-top-lg {
	margin-top: 45px;
	margin-bottom: 45px !important;
}
.space-left-lg { margin-left: 45px !important; }
.space-right-lg { margin-right: 45px !important; }
.space-left-right-lg {
	margin-left: 15px;
	margin-right: 45px !important;
}
.space-all-lg { margin: 45px !important; }

.list-group-item { 
	padding: 2px 5px;
}

pre {
	margin: 0;
	border-radius: 0;
	padding: 5px 20px;
	width: 100%;
}

body, html {
	height: 100%;
	font-size:15px;
}

/* workaround modal-open padding issue */
body.modal-open {
	padding-right: 0 !important;
}

#sidebar {
	padding-left: 0;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-left .sidebar-offcanvas { left: -33%; }
	.row-offcanvas-left.active { left: 33%; }
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 33%;
		height: 100%;
	}
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
	.row-offcanvas-left .sidebar-offcanvas { left: -45%; }
	.row-offcanvas-left.active { left: 45%; }
	.sidebar-offcanvas { width: 45%; }
}

.card { overflow: hidden; }
.card-block .rotate {
	z-index: 8;
	float: right;
	height: 100%;
}
.card-block .rotate i {
	color: rgba(20, 20, 20, 0.15);
	position: absolute;
	left: 0;
	left: auto;
	right: -10px;
	bottom: 0;
	display: block;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	-o-transform: rotate(-44deg);
	-ms-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

@media screen and (min-width: 772px) {
	html, body{
		overflow:hidden;
		font-size:16px;
	}
	nav{
		height:6vh;
	}
	#sidebar, #main {
		overflow-y: auto;
		height:94vh;
	}
}

#sidebarFade, #mainFade {
	background-image: linear-gradient(to bottom, transparent, white);
	bottom:0;
	pointer-events:none;
	display:block;
	height:15px;
	padding: 15px 0;
	position:sticky;
	width:100%;
}

.database-list li > * {
	margin-left: 1em;
	padding: 0;
}

.database-list input, .database-list button{
	margin-bottom: 7px;
}

.database-list li input.form-control {
	padding:5px;
}

.hidden {
	display: none;
}

.w-50px {
	width: 50px;
}

.skip-button {
	height: 31px;
	margin-top: -2px;
}

.modal-large{
    max-width: 75vw;
}

#insertDocumentModalText{
	resize:none;
	min-height:65vh;
}

.table-condensed td,.table-condensed th{
	padding:0 5px;
}