﻿<h1 class="display-4 hidden-xs-down">Welcome to the MongoDB Web Tool</h1>
<p class="lead hidden-xs-down">(Select a database to get started)</p>

<h3>404 Not found!</h3>
<p>We could not find a resource that matches the URL provided. You may head back to the home page for more information.</p>