﻿<h2>{{collectionName}} <small>(selected collection)</small></h2>

<ol class="breadcrumb stick-bottom">
	<li class="breadcrumb-item">
		Databases
	</li>
	<li class="breadcrumb-item">
		<a ng-href="Dashboard#!/database/{{::databaseName}}">
			{{databaseName}}
		</a>
	</li>
	<li class="breadcrumb-item active">
		{{collectionName}}
		<a href="javascript:;" ng-click="refreshDocumentList()" title="Refresh" ng-hide="isDocumentsLoading">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</a>
		<i class='fa fa-spinner fa-spin' title="Loading..." ng-show="isDocumentsLoading"></i>
	</li>
</ol>

<div class="row space-bottom-top">
	<div class="col-md-12">
		<div class="pull-left">
			<button ng-click="insertDocument()" title="Insert a new document." class="btn btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> New document</button>
		</div>
		<div class="pull-right">
            <button ng-show="skip - limit >= 0" ng-click="jumpPrevLimit()" title="Jump skip to previous limit." class="btn btn-sm skip-button"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>

			Skip: <input type="number" class="w-50px" ng-model="skip" ng-enter="refreshDocumentList()" />
			Limit: <input type="number" class="w-50px" ng-model="limit" ng-enter="refreshDocumentList()" />

			<button ng-click="jumpNextLimit()" title="Jump skip to next limit." class="btn btn-sm skip-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-bordered table-condensed table-sm">
		<thead>
			<tr>
				<th>Document</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody ng-repeat="document in documents">
			<tr>
				<td>
					<a href="javascript:;" ng-click="toggleDocument($index)">
						({{::skip + $index + 1}})

						<span id="a_{{$index}}">
							<span ng-show="document._id.$oid" ng-class="{'id' : document._id.$oid}">ObjectId("{{document._id.$oid}}")</span>
							<span ng-hide="document._id.$oid" ng-class="{'id' : !document._id.$oid}">{{document._id}}</span>
						</span>
						<i id="i_{{$index}}" class='fa fa-angle-right' title="Loading..."></i>
					</a>
				</td>
				<td>
					<a href="javascript:;" ng-click="editDocument($index)">Edit</a>
					| <a href="javascript:;" ng-click="deleteDocument($index)"><small class="text-danger">Delete</small></a>
				</td>
			</tr>
			<tr class="hidden" id="pre_{{$index}}">
				<td colspan="2">
					<pre></pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Insert Document Modal -->
<div class="modal" id="insertDocumentModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-large" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create new document</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<textarea id="insertDocumentModalText" class="form-control"></textarea>
			</div>
			<div class="modal-footer">
				<p class="text-danger stick-bottom" ng-show="insertWarningMessage">
					<strong>Oh no!</strong> {{insertWarningMessage}}
				</p>

				<i class='fa fa-spinner fa-spin' ng-show="isInserting"></i>

				<button type="button" class="btn pull-left" ng-click="validateBson()" ng-class="{'btn-danger': validateBsonFail}">
					<span ng-show="validateBsonFail"><i class='fa fa-warning' aria-hidden="true"></i> </span>Validate BSON
				</button>
				<button type="button" class="btn btn-primary" ng-click="confirmInsertDocument()" ng-disabled="isInserting">Insert/Update</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-disabled="isInserting">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () { $("textarea").enableSmartTab(); });
</script>