﻿<h2>{{databaseName}} <small>(selected database)</small></h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        Databases
    </li>
    <li class="breadcrumb-item active">
        {{databaseName}}
        <a href="javascript:;" ng-click="refreshCollectionList()" title="Refresh" ng-hide="isCollectionsLoading">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
        <i class='fa fa-spinner fa-spin' title="Loading..." ng-show="isCollectionsLoading"></i>
    </li>
</ol>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Collection Name</th>
                <th># of Documents</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collection in collections">
                <td>
                    <a ng-href="Dashboard#!/database/{{::databaseName}}/collection/{{::collection.name}}">{{::collection.name}}</a>
                </td>
                <td>{{::collection.count | number}}</td>
                <td>
                    <a href="javascript:;" ng-click="duplicate.showModal(collection)">Duplicate</a>
                    | Export (<a target="_blank" ng-href='{{exportJsonUrl + databaseName + "&Collection=" + collection.name}}'>JSON</a>,
                    <a href="javascript:;" ng-click="export.showModal(collection)">CSV</a>)
                    | <a href="javascript:;" ng-click="delete(collection)" class="text-danger">Drop</a>
                    | <a href="javascript:;" ng-click="empty(collection)" class="text-danger">Empty</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button ng-click="create.showModal();" class="btn btn-default">+ Create new collection</button>

<!-- Create Collection Modal -->
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="space-top stick-bottom">New Collection Name:</p>
                <input class="form-control" type="text" placeholder="New Collection Name" ng-model="create.newCollectionName" />

                <p class="text-danger space-top stick-bottom" ng-show="create.warningMessage">
                    <strong>Oh no!</strong> {{create.warningMessage}}
                </p>
            </div>
            <div class="modal-footer">
                <i class='fa fa-spinner fa-spin' ng-show="create.isBusy"></i>
                <button type="button" class="btn btn-primary" ng-click="create.confirm()" ng-disabled="create.isBusy">Create</button>
                <button type="button" class="btn btn-secondary" ng-click="create.closeModal()" data-dismiss="modal" ng-disabled="create.isBusy">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Duplicate Collection Modal -->
<div class="modal" id="duplicateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Duplicate {{selected}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="stick-bottom">
                    Destination Collection:
                    <a href="javascript:;" ng-click="$root.refreshDatabaseList()" title="Refresh" ng-hide="$root.isDatabasesLoading">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    <i class='fa fa-spinner fa-spin' ng-show="$root.isDatabasesLoading"></i>
                </p>
                <select ng-model="duplicate.destination.database" class="form-control">
                    <option ng-repeat="database in $root.databases" value="{{::database}}">{{::database}}</option>
                </select>

                <p class="space-top stick-bottom">New Collection Name:</p>
                <input class="form-control" type="text" placeholder="New Collection Name" ng-model="duplicate.destination.collection" />

                <p class="text-danger space-top stick-bottom" ng-show="duplicate.warningMessage">
                    <strong>Oh no!</strong> {{duplicate.warningMessage}}
                </p>
            </div>
            <div class="modal-footer">
                <i class='fa fa-spinner fa-spin' ng-show="duplicate.isBusy"></i>
                <button type="button" class="btn btn-primary" ng-click="duplicate.confirm()" ng-disabled="duplicate.isBusy">Duplicate</button>
                <button type="button" class="btn btn-secondary" ng-click="duplicate.closeModal()" data-dismiss="modal" ng-disabled="duplicate.isBusy">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Export Collection Modal -->
<div class="modal" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{export.exportCsvUrl}}" method="get" ng-submit="export.confirm();" target="_blank">
                <div class="hidden">
                    <input type="hidden" name="DatabaseName" value="{{databaseName}}" />
                    <input type="hidden" name="Collection" value="{{selected}}" />
                    <input type="hidden" name="options" value="{{export.options}}" />
                </div>

                <div class="modal-header">
                    <h5 class="modal-title">Export {{selected}} collection as CSV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    CSV Fields:
                    <div class="row space-bottom" ng-repeat="field in export.fields">
                        <div class="col-md-11"><input type="text" class="form-control" ng-model="field.value" name="fields[]" required="" placeholder="element.value" /></div>
                        <div class="col-md-1"><a href="javascript:;" class="text-danger" ng-click="export.removeField($index)">&times;</a></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12"><a href="javascript:;" class="pull-right" ng-click="export.addField()">+ Add field</a></div>
                    </div>

                    <div class="row space-top">
                        <div class="col-md-12"><input type="checkbox" ng-model="export.addHeaders" /> Add CSV Headers</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Export</button>
                    <button type="button" class="btn btn-secondary" ng-click="export.closeModal()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>