﻿<h1 class="display-4 hidden-xs-down">Welcome to the MongoDB Web Tool</h1>
<p class="lead hidden-xs-down">(Select a database to get started)</p>

<h3>What's new?</h3>
<div class="row placeholders mb-3 space-top-md">
	<div class="col-6 col-sm-3 placeholder text-center">
		<img src="Content/Images/1-text.png" class="center-block img-fluid rounded-circle" alt="Device agnostic">
		<h4>Responsive</h4>
		<span class="text-muted">Device agnostic</span>
	</div>
	<div class="col-6 col-sm-3 placeholder text-center">
		<img src="Content/Images/2-text.png" class="center-block img-fluid rounded-circle" alt="UI / UX oriented">
		<h4>Frontend</h4>
		<span class="text-muted">UI / UX oriented</span>
	</div>
	<div class="col-6 col-sm-3 placeholder text-center">
		<img src="Content/Images/3-text.png" class="center-block img-fluid rounded-circle" alt="Standards-based">
		<h4>HTML5</h4>
		<span class="text-muted">Standards-based</span>
	</div>
	<div class="col-6 col-sm-3 placeholder text-center">
		<img src="Content/Images/4-text.png" class="center-block img-fluid rounded-circle" alt="AngularJS & Bootstrap">
		<h4>Framework</h4>
		<span class="text-muted">AngularJS &amp; Bootstrap</span>
	</div>
</div>