﻿@{
    ViewBag.Title = "MongoDB Web Tool";
}

<div class="row row-offcanvas row-offcanvas-left" ng-app="mongoApp">
	<!-- Sidebar of databases -->
	<div class="col-md-4 col-lg-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="databaseListCtrl" ng-init="$root.refreshDatabaseList()">
		<h5 class="space-left">
			Databases:
			<small>
				<a href="javascript:;" ng-click="$root.refreshDatabaseList()" title="Refresh" ng-hide="$root.isDatabasesLoading">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</a>
				<i class='fa fa-spinner fa-spin' ng-show="$root.isDatabasesLoading"></i>
			</small>
		</h5>

		<ul class="nav database-list flex-column">
			<li>
				<div>
					<input type="text" class="form-control" ng-model="databaseSearchQuery" placeholder="Search..." />
				</div>
			</li>
			<li>
				<div>
					<button class="btn btn-sm" ng-click="createDatabase()"><i class="fa fa-plus" aria-hidden="true"></i> Create new database</button>
				</div>
			</li>
			<li ng-repeat="database in $root.databases | filter:databaseSearchQuery">
				<a class="nav-link" ng-href="Dashboard#!/database/{{::database}}">{{::database}}</a>
			</li>
		</ul>

		<span id="sidebarFade"></span>
	</div>


	<div class="col-md-8 col-lg-9" id="main">
		<!-- Toggle sidebar button
			TODO: Does not work on mobile -->
		<p class="hidden-md-up">
			<button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Databases</button>
		</p>

		<!-- Alert for error/warning messages -->
		<div class="alert alert-danger collapse space-top" id="errorAlert">
			<button type="button" class="close" aria-label="Close" onclick='$("#errorAlert").hide();'>
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<strong>Oh no!</strong> <span id="errorAlertContent"></span>
		</div>

		<div ng-view=""></div>

		<span id="sidebarFade"></span>
	</div>
	<!--/main col-->

    <!-- Create Database Modal -->
    <div class="modal" id="createDatabaseModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="databaseListCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new database</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="space-top stick-bottom">New Database Name:</p>
                    <input class="form-control" type="text" placeholder="New Database Name" ng-model="newDatabaseName" />

                    <p class="space-top stick-bottom">New Collection Name:</p>
                    <input class="form-control" type="text" placeholder="New Collection Name" ng-model="newCollectionName" />

                    <p class="text-danger space-top stick-bottom" ng-show="warningMessage"><strong>Oh no!</strong> {{warningMessage}}</p>

                    <p class="space-top"><input type="checkbox" ng-model="includeUser" /> Create user for this collection</p>
                    <div ng-show="includeUser">
                        <p><input class="form-control" type="text" placeholder="Username" ng-model="newDatabaseUsername" /></p>
                        <p><input class="form-control" type="password" placeholder="Password" ng-model="newDatabasePassword" /></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <i class='fa fa-spinner fa-spin' ng-show="isCreating"></i>
                    <button type="button" class="btn btn-primary" ng-click="confirmCreateDatabase(newDatabaseName, newCollectionName, newDatabaseUsername, newDatabasePassword)" ng-disabled="isCreating">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-disabled="isCreating">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/AngularApp/app.js"></script>
<script src="~/AngularApp/databaseListCtrl.js"></script>
<script src="~/AngularApp/databaseCtrl.js"></script>
<script src="~/AngularApp/collectionCtrl.js"></script>