﻿@{
	ViewBag.Title = "Log in to your database";
}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<h1 class="space-top-md">Log in to your MongoDB server</h1>

		<div class="@ViewBag.MessageClass">@ViewBag.Message</div>

		<form action="" id="form_cred" method="post">
			<div class="form-group">
				<label for="form_cred_server">Server:</label>
				<input class="form-control" id="form_cred_server" name="server" required="" type="text" value="@ViewBag.DefaultServer" />
			</div>
			<div class="form-group">
				<label for="form_cred_server">Port:</label>
				<input autocomplete="off" class="form-control" id="form_cred_port" name="port" required="" type="number" value="27017" />
			</div>
			<div class="form-group">
				<label for="form_cred_server">Username:</label>
				<input class="form-control" id="form_cred_username" name="username" type="text" value="" />
			</div>
			<div class="form-group">
				<label for="form_cred_server">Password:</label>
				<input class="form-control" id="form_cred_password" name="password" type="password" value="" />
			</div>

			<div class="form-group">
				<input id="form_remember_me" name="rememberme" type="checkbox" value="rememberme" checked="checked" />
				<label for="form_remember_me">Remember me</label>
			</div>

			<input class="btn btn-default" id="form_cred_submit" type="submit" value="Login" />
		</form>
	</div>
</div>