﻿<!DOCTYPE html>
<!-- An open source project by Earl Peter Gangoso http://www.earlpeter.com/ -->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Web Tool @ViewContext.Controller.GetType().Assembly.GetName().Version</title>

    @Styles.Render("~/Content/css")
	@Styles.Render("~/scripts/jquery.json-viewer.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/tether/tether.min.js"></script>
	<script src="~/Scripts/angular-route.min.js"></script>
	<script src="~/scripts/jquery.json-viewer.js"></script>
	<script src="~/scripts/jquery.enablesmarttab.js"></script>
    <script>var $domain = "@Url.Action("Index", "Home", null, Request.Url.Scheme)";</script>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand pb-2" href="~/">MongoDB Web Tool</a>
		<div class="navbar-collapse collapse" id="collapsingNavbar">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a> <!-- TODO: Update this link -->
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://www.earlpeter.com/contact-me/feedback/?ref=mongodbwebtool @MvcApplication.Version" target="_blank">Feedback</a>
				</li>
			</ul>
			@if (User.Identity.IsAuthenticated) {
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="~/Dashboard#!/admin">Adminland</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="~/Home/Logout">Logout</a>
					</li>
				</ul>
			}
		</div>
	</nav>

	<div class="container-fluid">
		@RenderBody()
	</div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
